$primaryText : whitesmoke;

@mixin fontStyle{
  font-family: 'M PLUS 1p', sans-serif;
}


.findButton{
    background-color:rgba(9, 65, 31, 0.892);
    padding: 16px 50px;
    border-radius: 12px;
    border-color: transparent;
    font-size: 3ch;
    font-family: 'Abril Fatface', cursive;
    color:white;

    &:hover {
        background: rgb(245, 245, 144)
    }
}

.Home{
    background-image: url('https://images.unsplash.com/photo-1562716768-992889d14a58?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
  }
  
  
  .welcome{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 7rem;
    color:$primaryText;
    margin-top:15vw;
    font-weight: bold;
    display:flex;
    
    
  }
  .tokyo{
    font-family: 'Alfa Slab One', cursive;
    font-size: 9rem;
    color: $primaryText;
    margin-top:10px;
    display:flex;
    
  }
  
  .titles{
    position:static;
    display:flex;
    flex-direction: column;
    align-items: center;
    
  /* height: 100vh; */
  justify-content: space-evenly;
    /* margin-top: 40px; */
  }
  .navBar{
    background-color:rgb(9, 65, 31);;
    height:43px;
    width:279px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    // margin-left:78vw;
    border-radius: 5px 5px;
    position: relative;
    top:1vw;
    margin-right:12px;

  }
  .homeDiv2{
    display: flex;
    justify-content: flex-end;
  }
  .listBar{
    color:white;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    width:20vw;
    font-size: 2.3ch;
    @include fontStyle();
  }
  .aboutLink, .loginLink, .tourLink{
    text-decoration: none;
    color:white;
    cursor: pointer;
    &:hover{
      color: rgb(245, 245, 144);
    }

  }
  .homeFooter{
    background-color: white;
    height:70px;
    width: 100vw;
    margin-top:35vh;
  }
  
  @media (max-width: 958px){
    .tokyo{
      justify-content: center;
      font-size:7vw;
      // align-items: center;
    }
    .Home{
      background-color: rgba(255, 255, 255, 0.564)smoke
    }
  }

  