@mixin flexDesign {
    height:40px;
    width:33vw;
}
@mixin fontStyle {
    font-family: 'Amiri', serif;
}

@mixin fontSize {
    font-size: 4ch;
}

@mixin roundBorder {
    border-radius: 15px 40px;
}
@mixin roundButton {
    border-radius: 20px 20px
}
@mixin buttonSize {
    height:5vh;
    width: 11vw;
}
@mixin buttonHover {
    background:rgb(131, 198, 152);
    &:hover {
        background:rgb(245, 245, 144)
    }
}

body{
    // background-image: url('/src/styles/iPiccy-image.png');
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-color:black;
    // border-width: 4px;
    width: 100vw;
    height:100vh;
    border-style: solid;
    // margin-left:30vw;
    // margin-top:10vh;
    // background-repeat:no-repeat;
    background-size: 100vw 100vh
}

.username{
    @include flexDesign();
    @include fontSize();
    display: flex;
    flex-direction:column;
    margin-bottom: 50px;
    @include roundBorder();
    @include fontStyle();
    background:transparent;
}

.password{
    @include flexDesign();
    @include fontSize();
    @include roundBorder();
    @include fontStyle();
    background: transparent;
    
}

.loginButton{
    margin-top:20px;
    @include roundButton();
    @include buttonSize();
    @include buttonHover();
}

.registerButton{
    margin-top: 20px;
    @include roundButton();
    @include buttonSize();
    @include buttonHover();
}






.signUp {
    height: 60px;
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primaryButton;
    &:hover{
        background: rgb(202, 202, 224);
    }
    } 