.hammyButton, .side-menu {
    display: none;
    z-index: 1;
    position: fixed

}

@mixin border{
    border-radius: 5px 5px;
}
@mixin menuLinkStyle{
    text-decoration: none;
    color:rgb(13, 80, 38);
    cursor: pointer;
    font-size: 4ch;
    margin-left:10px;
    padding: 60px;
    font-family: 'Comfortaa', cursive;
    &:hover{
      color: rgb(245, 245, 144);
    }
}

div.side-menu, .side-menu-open, .side-menu-close  {
    width:60vw;
    height: 40vh;
    background:whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 3px 2px rgb(37, 41, 44);
    transform: translateX(-610px);
    @include border();
}
.side-menu-open {
    display: block;
    animation-name: open;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.side-menu-close {
    display: block;
    animation: close 1s forwards ease ;
}
.loginHome, .toursHome, .aboutHome{
    @include menuLinkStyle();
}
@keyframes open {
    from{
        transform: translateX(98vw);
    }
    to {
        transform: translateX(44vw);
    }
}
@keyframes close {
    from {
        transform: translateX(80vw)
    }
    to {
        transform: translateX(200vw);
    }
}
.hammyButton {
    width: 50px;
    cursor: pointer;
}
.hamburger_hidden_by_default{
    display:flex;
    justify-content: flex-end;
  }

@media (max-width: 1258px) {
    ul {
        display: none;
    }
    .navBar{
        display:none;
    }
    .hammyButton {
        display: block;
       
        // z-index: 1;
    }
}