.tourPosts{
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top:5vh;
    
}

.aboutLinkTour, .loginLinkTour, .tourLinkTour, .profileLinkTour{
    text-decoration: none;
    color:rgb(255, 255, 255);
    cursor: pointer;
    &:hover{
      color: rgb(245, 245, 144);
    }

  }
