.postTourUserPage{
    display:flex;
    flex-wrap: wrap;
    margin-top:4vh;
    justify-content: space-between;

}

.appearBelow{
    margin-top:5vw;
    font-family: 'Arima Madurai', cursive;
    font-size:5.5ch;
    color:rgb(74, 91, 83)

}
.logoutButtonUser{
    border: none;
    background-color: transparent;
    font-size: 2.5ch;
    position: relative;
    color:white;
    bottom:6px;
    right:2px;
    font-family: 'M PLUS 1p', sans-serif;
}

@media (max-width: 400px){
    .appearBelow{
        font-size: 4ch;
        margin-top:9vh;
    }
}